<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:/temp/nlog-internal.log">

	<variable name="myvar" value="myvalue"/>

	<!-- Куди писати логи -->
	<targets>
		<!-- Лог у файл -->
		<target xsi:type="File" name="fileLog" fileName="${basedir}/logs/logfile_${shortdate}.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString}"
			createDirs="true"
			keepFileOpen="false"
			encoding="utf-8"
			archiveEvery="Day"
			maxArchiveFiles="30" />
		<!-- Лог у консоль -->
		<target xsi:type="Console" name="consoleLog" layout="${longdate} | ${level:uppercase=true} | ${message}" />
	</targets>

	<!-- Налаштування мінімального рівня логів  -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="fileLog,consoleLog" />
	</rules>
</nlog>
